/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 0;
  padding-top: 92px;
  padding-right: 50px;
  padding-bottom: 96px;
  padding-left: 50px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.header__links-list {
  display: flex;
  gap: 28px;
}

.header__links-list-item {
  padding-left: 5px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
  list-style: none;
}

.header__link {
  border-bottom: 1px solid black;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.header__link_active {
  border-bottom: 0;
}

.address {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  width: 240px;
  height: 98px;
}

/* Обложка страницы */
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 180px;
  padding-top: 165px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  background: url('../images/cover.jpg');
}

.overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-color: #000;
}

.cover__title {
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  margin-left: 0.3em;
  text-align: center;
}

.aligned-text_right {
  margin-right: -0.3em;
  margin-bottom: 106px;
  text-align: right;
}

.description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.9em;
}

.cover__description-text-spacing {
  word-spacing: 0.8em;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background: transparent;
}

/* Карточки */
.lots {
  margin-right: 24px;
  margin-bottom: 120px;
  margin-left: 24px;
  padding: 0;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card_type_film {
  background: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background: url('../images/card-lot-03.jpg');
}

.card__title {
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  margin-left: 40px;
  border-bottom: 1px solid black;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
}

/* Об аукционе */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin-right: 24px;
  margin-bottom: 180px;
  margin-left: 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.logo__column {
  padding-top: 35px;
  padding-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text-question {
  margin-bottom: 24px;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-right: 50px;
  padding-left: 50px;
}

.footer__menu-link {
  border-bottom: 1px solid black;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: 0;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.background-white {
  background: white;
}
